<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    {% set route = app.request.attributes.get('_route') %}

    <div style="text-align: right; margin: 1rem;">
        {% if app.user and route not in ['app_login', 'app_register'] %}
            👋 {{ app.user.email }}
            <a href="{{ path('app_profile') }}">Профіль</a> |
            <a href="{{ path('app_logout') }}">Вийти</a>
        {% elseif route not in ['app_login', 'app_register'] %}
            <a href="{{ path('app_login') }}">Увійти</a> |
            <a href="{{ path('app_register') }}">Зареєструватись</a>
        {% endif %}
    </div>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>

